snippet // "Code Comment Inline" i
<!-- $0 -->
endsnippet

snippet /* "Code Comment Block" i
<!-- 
$0 
-->
endsnippet


snippet /*{ "Code Comment Block with JSON object" i
<!--
{
  $1: $0,
}
-->
endsnippet

