
snippet meth "blah = function (meth)"
${1:method_name} = function(${2:argument}) {
  ${VISUAL}$0
}
endsnippet

snippet scf "self calling function"
(function(){
  $0
})();
endsnippet


snippet comp "component"
'use strict';

import React from 'react';

class ${1:component} extends React.Component {

  constructor( props ) {
    super( props );
  }

  static propTypes = {
  }

  render() {
    return (
      $0
    );
  }

}

export default $1;
endsnippet

